<div class="materials-table-wrapper">
  <div class="header-row">
    <h2>Materialien</h2>
    <a routerLink="/materials/new">
      <button mat-raised-button color="primary">
        <mat-icon>add</mat-icon>
        Neues Material
      </button>
    </a>
  </div>
  <div *ngIf="materials$ | async as materials">
    <table
      mat-table
      [dataSource]="materials"
      class="mat-elevation-z1 full-width-table"
    >
      <!-- Bild -->
      <ng-container matColumnDef="bild">
        <th mat-header-cell *matHeaderCellDef>Bild</th>
        <td mat-cell *matCellDef="let mat">
          <img
            *ngIf="mat.bild_url"
            [src]="mat.bild_url"
            alt="Bild"
            class="table-image"
          />
        </td>
      </ng-container>

      <!-- Bezeichnung -->
      <ng-container matColumnDef="bezeichnung">
        <th mat-header-cell *matHeaderCellDef>Bezeichnung</th>
        <td mat-cell *matCellDef="let mat">{{ mat.bezeichnung }}</td>
      </ng-container>

      <!-- Hersteller -->
      <ng-container matColumnDef="hersteller">
        <th mat-header-cell *matHeaderCellDef>Hersteller</th>
        <td mat-cell *matCellDef="let mat">{{ mat.hersteller_bezeichnung }}</td>
      </ng-container>

      <!-- Aktionen -->
      <ng-container matColumnDef="aktionen">
        <th mat-header-cell *matHeaderCellDef>Aktionen</th>
        <td mat-cell *matCellDef="let mat">
          <a [routerLink]="['/materials', mat.id, 'edit']">
            <button mat-icon-button color="primary" matTooltip="Bearbeiten">
              <mat-icon>edit</mat-icon>
            </button>
          </a>
          <button
            mat-icon-button
            color="warn"
            (click)="delete(mat.id)"
            matTooltip="Löschen"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="['bild', 'bezeichnung', 'hersteller', 'aktionen']"
      ></tr>
      <tr
        mat-row
        *matRowDef="
          let row;
          columns: ['bild', 'bezeichnung', 'hersteller', 'aktionen']
        "
      ></tr>
    </table>
  </div>
</div>
