<!-- product-form.component.html -->
<h2>{{ productId ? 'Produkt bearbeiten' : 'Neues Produkt anlegen' }}</h2>
<form (ngSubmit)="save()">
  <label>Bezeichnung: <input [(ngModel)]="product.bezeichnung" name="bezeichnung" /></label><br />
  <label>Menge: <input type="number" [(ngModel)]="product.menge" name="menge" /></label><br />
  <label>Preis: <input type="number" [(ngModel)]="product.preis" name="preis" /></label><br />
  <label>Brutto-Gesamtpreis: <input type="number" [(ngModel)]="product.g_preis_brutto" name="gpreis" /></label><br />
  <label>Netto: <input type="number" [(ngModel)]="product.netto" name="netto" /></label><br />
  <button type="submit">Speichern</button>
</form>
