<div class="global-demand-orders-container">
  @if (rows.length === 0) {
    <div class="empty-state">
      <p>Noch kein Plan berechnet.</p>
      <p class="hint">Erfassen Sie Produktionsziele und klicken Sie auf "Plan berechnen".</p>
    </div>
  } @else {
    <app-material-table
      [rows]="materialTableRows"
      [columns]="columns"
      [showImage]="true"
      [showCategory]="true">
      <ng-template #customColumn let-row let-column="column">
        @switch (column.key) {
          @case ('totalRequired') {
            {{ row.data.totalRequired | number:'1.0-2' }}
          }
          @case ('totalStock') {
            {{ row.data.totalStock | number:'1.0-2' }}
          }
          @case ('openOrders') {
            {{ row.data.openOrders | number:'1.0-2' }}
          }
          @case ('totalAvailable') {
            {{ row.data.totalAvailable | number:'1.0-2' }}
          }
          @case ('shortage') {
            <span [class.shortage]="row.data.shortage > 0">
              {{ row.data.shortage | number:'1.0-2' }}
            </span>
          }
          @case ('suggestedOrder') {
            <span [class.suggested-order]="row.data.suggestedOrderToCentral > 0">
              {{ row.data.suggestedOrderToCentral | number:'1.0-2' }}
            </span>
          }
        }
      </ng-template>
    </app-material-table>

    <!-- Order Proposal Section -->
    @if (ordersToPlace.length > 0) {
      <div class="order-proposal-section">
        <button mat-raised-button color="primary" type="button" (click)="onCreateOrder()">
          Bestellungsvorschlag anzeigen
        </button>
      </div>
    }
  }
</div>
